
/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-dark-sea-green: #7B876D;
    --color-lemon-grass: #989E8B;
    --color-rose-sharon: #DDB8A6;
    --color-darling-clementine: #D49B7E;
    --color-shade-orange: #C67F43;
    --color-epicurean-orange: #893F04;
    --color-black: #000000;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-dark-grey: #4d4d4d;

    /* Font size */
    --font-large: 3rem;
    --font-medium: 1.75rem;
    --font-regular: 1.125rem;
    --font-small: 1rem;
    --font-micro: 0.875rem;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;

    /* Animation */
    --animation-duration: 300ms;
}
// #7B876D DarkSeaGreen
// #989E8B LemonGrass
// #DDB8A6 RoseOfSharon
// #D49B7E DarlingClementine
// #C67F43 ShadeOfOrange
// #893F04 EpicureanOrange


/* Universal tags */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    cursor: default;
}
a{
    text-decoration: none;
    color: var(--color-light-white);
}
ul {
    list-style: none;
    padding-left: 0;
}

li {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}
/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0;
}
h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}
h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}
p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}


/* Navbar */
#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    transition: all var(--animation-duration) ease-in-out;
    z-index: 1;
}

#navbar.navbar--dark {
    background-color: var(--color-dark-sea-green);
    padding: 8px;
}

.navbar__menu {
    display: flex;
    color: var(--color-light-white);
}
.navbar__logo {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    align-items: center;
    margin: 16px 0 16px 0;
}
.navbar__logo__img{
    width: 18px;
    
}
.navbar__menu__item {
    padding: 8px 12px;
    margin: 0;
    cursor: pointer;
    border-radius; var(--size-border-radius);
}

.navbar__menu__item.active {
    border: 1px solid var(--color-light-white);
}

.navbar__menu__item:hover {
    background-color: var(--color-lemon-grass);
}

.navbar__toggle-btn{
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
}

/* Home */
#home {
    background-color: var(--color-dark-sea-green);
    padding: 40px;
    padding-top: 100px;
    text-align: center;
    margin: auto;
}
.home__avatar {
    width: 200px;
    height: 200px;
    margin: 16px 0 16px 0;
    border-radius: 50%
}
.home__title {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-light-white);
}
.home__description {
    font-size: var(--font-medium);
    font-weight: var(--weight-regular);
    color: var(--color-light-white);
}
.home__contact {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-light-white);
    margin: 24px;
    padding: 8px 12px;
    border: 1px solid var(--color-light-white);
    border-radius; var(--size-border-radius);
}
/* Section common */
.section {
    padding: 50px;
    text-align: center;
    margin: auto;
}

.section__container {
    max-width: 1200px;
    margin: auto;
}

/* About me */

.about__majors {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}
.major {
    padding: 8px 12px;
}
.major__icon {
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size: 70px;
    color: var(--color-lemon-grass);
    margin: auto;
    border: 1px solid var(--color-lemon-grass);
    border-radius: 50%
}

.major__icon i{
    transition: all var(--animation-duration) ease;
}

.major__icon:hover i{
    color: var(--color-shade-orange);
    transform: rotate(-30deg) scale(1.2);
}

.major__title {
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    color: var(--color-lemon-grass);
    padding: 16px 0;
}
.major__description {
    font-size: var(--font-small);
    font-weight: var(--weight-regular);
    color: var(--color-lemon-grass);
}

.about__school {
    display: flex;
    justify-content: space-between;
}
.job{
    display: flex;
    align-items: center;
    padding: 8px;
}
.school {
    display: flex;
    align-items: center;
    padding: 8px;
}

.job__logo, .school__logo {
    width: 100px;
    margin: 0;
}
.job__description, .school__description {
    margin: 0 16px;
    text-align: left;
}

.job__name, .school__name {
    font-size: var(--font-small);
    font-weight: var(--weight-bold);
    color: var(--color-lemon-grass);
}
.major__name{
    font-size: var(--font-small);
    font-weight: var(--weight-regular);
    color: var(--color-lemon-grass);
}
.job__period, .school__period {
    font-size: var(--font-small);
    font-weight: var(--weight-regular);
    color: var(--color-lemon-grass);
}


/* Skills */
#skills {
    background-color: var(--color-dark-sea-green);

}
.skillset {
    display: flex;
    margin: 20px 0;
    font-size: var(--font-small);
    font-weight: var(--weight-regular);
    color: var(--color-light-white);
}

.skillset__left{
    flex-basis: 60%;
    padding: 20px 40px;
}
.skillset_right {
    flex-basis: 40%;
}

.skillset__title {
    font-size: var(--font-small);
    font-weight: var(--weight-bold);
    color: var(--color-light-white);
}
.skill_description {
    display: flex;
    justify-content: space-between;
}

.skill {
    margin-bottom: 32px; 
}
.skill__bar {
    width: 100%;
    height: 3px;
    background-color: var(--color-lemon-grass);
}
.skill__value {
    height: 3px;
    background-color: var(--color-darling-clementine);
}
.tools {
    background-color: var(--color-lemon-grass);
    padding: 8px 30px;
}
.etc {
    background-color: var(--color-light-grey);
    padding: 8px 30px;
}

/* Work */
.work__categories {
    margin: 40px;
}
.category__btn {
    border: 1px solid var(--color-light-white);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;
    color: var(--color-lemon-grass);
}
.category__btn.active,
.category__btn:hover {
    background-color: var(--color-lemon-grass);
    color: var(--color-light-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
    opacity: 1;
    top: 0;
}
.category__count {
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: -20px;
    left: 4px;
    opacity: 0;
    transition: all var(--animation-duration) ease-in;
}

.work__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}


.project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 250px;
    margin: 2px;
    background-color: var(--color-light-white);
}

.project__img {
    max-width: 100%;
    max-height: 100%;
    align-self: center;
}

.project__description {
    position: absolute;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(10px);
    transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
    opacity: 0.8;
    transform: translateY(0px);
}
.project__description h3 {
    color: var(--color-white);
}
.project__description h3:after {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    width: 25px;
    height: 2px;
    margin-left: -12px;
    margin-top: 8px;
    background-color: var(--color-dark-white);
}

/* Testimonials */
#testimonials {
  background-color: var(--color-light-grey);
}
.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}
.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}
.testimonial__speech-bubble {
  padding: 18px;
  background-color: var(--color-dark-sea-green);
  border-radius: var(--size-border-radius); 
}

.testimonial__speech-bubble p {
  color: var(--color-light-grey);
}

.testimonial__speech-bubble a {
  color: var(--color-darling-clementine);
}

/* Contact */
#contact {
  background-color: var(--color-darling-clementine);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}
.contact__links i{
  transition: all var(--animation-duration) ease-in;
}
.contact__links:hover i{
  transform: scale(1.1);
  color: var(--color-darling-clementine);
}

/* Arrow-Up */
.page-up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    background-color: var(--color-dark-sea-green);
    color: var(--color-white);
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease-in;
}
.page-up.visible {
    opacity: 1;
    pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
    .navbar__toggle-btn{
        display: block;
    }
    #navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar__menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }
    .about__majors {
        flex-direction: column;
    }
    .major {
        margin-bottom: 38px;
    }
    .skillset {
        flex-direction: column;
    }
    .project {
        flex-grow: 1;
    }
    .testimonial__avatar {
        width: 80px;
        height: 80px;
    }
}